<head>
  <link type="text/css" rel="stylesheet" href="../assets/css/cover.css">
</head>

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Cover</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Elder Care View: RFID Tracking System</h1>
          <p class="lead">Where's your Granny? Come inside to find out ;)</p>
        <p class="lead">
          <a href="/login" class="btn btn-lg btn-default"><i class="fa fa-sign-in"></i> Login </a>
        </p>

      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Capstone Group W3</p>
        </div>
      </div>

    <!-- cover-container -->
    </div>

  <!-- site-wrapper-inner -->
  </div>

<!-- site-wrapper -->  
</div>