<div class="belowNav container-fluid">
  <div class="row">
      <div class="col-sm-2 sidebar">
        <h3>Patient:</h3>

        <!--<select ng-model="selectedValue" ng-options="opt.patientName for opt in home.options">-->
        <select ng-model="selectedValue" ng-options="opt.patientName for opt in home.options">
        </select>

        <ul ng-if="selectedValue">
          <li>Age: {{selectedValue.patientAge}}</li>
          <li>Caretaker: {{selectedValue.patientCaretaker}}</li>
          <li>Address </li>
          <ul>
            <li>Street: {{selectedValue.patientAddress.street}}</li>
            <li>City: {{selectedValue.patientAddress.city}}</li>
            <li>State: {{selectedValue.patientAddress.state}}</li>
            <li>Zipcode: {{selectedValue.patientAddress.zipcode}}</li>
          </ul>
        </ul>
      </div>

    <div class="col-sm-10 main">
			<div class="jumbotron">
        <div>
          <!--
          <span id="loginMessage"><i class="fa fa-user-plus"></i></span><h2>You are now logged in.</h2>
          {{ main.user.username }}
          -->
          <h2>Patient: {{selectedValue.patientName}}</h2>
        </div>
			</div>
	  </div>
	</div> <!-- end row div -->
</div><!-- end container fluid -->