<div class="belowNav container-fluid">
      <div class="col-sm-12 main">
        <div class="patientsHeader">
          <i class="fa fa-users" style="font-size: 20pt; float: left; padding-right: 10px;"></i><h3>Patients</h3>
        </div>
         <!--<h1>Patient List: <small>The list<input type="text" class="form-control col-sm-6" ng-model="searchText" placeholder="Search by name..."></small></h1>
          -->
        <!--
        <p><input type="text" ng-model="searchText"></p>
        <ul>
          <li ng-repeat="patient in home.patients | filter:searchText">
            {{patient.patientName}}
          </li>
        </ul>
      -->

        <div ng-repeat="patient in home.patients">
          <div class="row patientRow">
            <div class="panel panel-primary patientPanel">
              <h2 class="panel-heading" ng-click="patientInfo = !patientInfo">{{patient.patientName}}</h2>
              <div class="panel-body cssSlideUp" ng-show="patientInfo" id="patientInfo">

                <div class="col-sm-7 main">
                  <div class="panel panel-primary testpanel">
                    <h5 class="panel-heading">Graphs and Stats</h5>
                    <div class="panel-body testpanelbody">
                      <a ng-href="/home/{{patient._id}}" class="btn btn-lg btn-primary chartIcon"><i class="fa fa-line-chart fa-5x"></i> </a>
                      <!--
                      <button ng-click="home.getlast10tags(patient.patientName)" class="btn btn-success">
                        <span>Last 10 Tags</span>
                      </button>
                      -->
                    </div>
                  </div>
                </div>

                <div class="col-sm-3 main">
                  <div class="panel panel-primary testpanel">
                    <h5 class="panel-heading">Information</h5>
                    <div class="panel-body testpanelbody">
                      <table class="table borderless">
                        <tbody>
                          <tr><td>Age: {{patient.patientAge}}</td></tr>
                          <tr><td>Street: {{patient.patientAddress.street}}</td></tr>
                          <tr><td>City: {{patient.patientAddress.city}}</td></tr>
                          <tr><td>State: {{patient.patientAddress.state}}</td></tr>
                          <tr><td>Zipcode: {{patient.patientAddress.zipcode}}</td></tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <div class="col-sm-2 main">
                  <div class="panel panel-primary testpanel">
                    <h5 class="panel-heading">Options</h5>
                    <div class="panel-body testpanelbody text-center">
                      <button ng-click="home.deletePatient(patient)" class="btn btn-danger">
                        <span>Delete</span>
                      </button>
                      <button ng-click="home.editPatient()" class="btn btn-warning">
                        <span>Edit</span>
                      </button>
                      <button ng-click="home.alertPatient()" class="btn btn-success">
                        <span>Alert</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <a class="btn btn-block btn-warning" href="/newPatient"></span>New Patient</a>

        <!--<a class="btn btn-block btn-warning" ng-href="/patients/{{selectedPatient._id}}"></span>More Info</a>-->

      </div>
    </div>

</div><!-- end container fluid -->