<div class="belowNav container-fluid">
    <div class="row">
        <div class="col-sm-2 sidebar">
          <ul class="nav nav-sidebar">
            <h3>Patient List</h3>
            <!-- 
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
            -->
          </ul>

            <select ng-model="selectedPatient">
              <option ng-repeat="item in home.patients">{{item.patientName}}</option>
            </select>

            <p>The value selected is {{selectedPatient.value}}.</p>
         
          <ul ng-repeat="item in home.patients">
          <a href='#'>{{item.patientName}} </a>
          	<li>Age: {{item.patientAge}}</li>
            <li>Caretaker: {{item.patientCaretaker}}</li>
            <!-- <li>Address: {{item.patientAddress}}</li> -->
            <li> Address </li>
            <ul>
              <li>Street: {{item.patientAddress.street}}</li>
              <li>City: {{item.patientAddress.city}}</li>
              <li>State: {{item.patientAddress.state}}</li>
              <li>Zipcode: {{item.patientAddress.zipcode}}</li>
            </ul>
            <!--
            <li class="nestedList">
              <ul ng-repeat="item2 in item.patientAddress">
                <li>Street: {{item2.street}}</li>
                <li>City: {{item2.city}}</li>
                <li>State: {{item2.state}}</li>
                <li>Zip: {{item2.zipcode}}</li>
              </ul>
            </li>
            -->
          </ul> 
         
        </div>

        <div class="col-sm-10 main">
			<div class="jumbotron">

			<!-- display the message -->
            <div>
              <span id="loginMessage"><i class="fa fa-user-plus"></i></span><h2>You are now logged in.</h2>
              {{ main.user.username }}
            </div>

			</div>

	    </div>

	</div> <!-- end row div -->

</div><!-- end container fluid -->