<div class="jumbotron text-center">
	<h1>Log In</h1>

	<form class="form-inline" ng-submit="login.getUsers()">
		<input type="text" class="form-control" placeholder="User Name" ng-model="login.userData.username">
		<input type="password" class="form-control" ng-model="login.userData.password">
		
		<!-- <button type="submit" class="btn btn-success">Add Entry</button> -->
		<button type="submit" class="btn btn-block btn-primary">Login</button>		
	</form>

	<div class="row show-hide-message" ng-show="login.message">
		<div class="col-sm-6 col-sm-offset-3">

			<div class="alert alert-info">
				{{ login.message }}
			</div>

		</div>
	</div>

</div>
