<div class="belowNav container-fluid">
      <div class="col-sm-12 main">
        <h3>Patients:</h3>

        <div ng-repeat="patient in patient.patients" class="jumbotron">
          <div class="row">
            <div class="col-sm-3 main">
              <table>
                <tbody>
                  <tr> {{patient.patientName}} </tr>
                  <tr> Age: {{patient.patientAge}} </tr>
                  <tr> Street: {{patient.patientAddress.street}} </tr>
                  <tr> City: {{patient.patientAddress.city}} </tr>
                  <tr> State: {{patient.patientAddress.state}} </tr>
                  <tr> Zipcode: {{patient.patientAddress.zipcode}} </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-7 main">
              <p>STATS:</p>
            </div>
            <div class="col-sm-2 main">
              <a ng-href="/patients/{{patient._id}}" class="btn btn-lg btn-success"><i class="fa fa-line-chart fa-5x"></i> </a>
            </div>
          </div>
        </div>


        <a class="btn btn-block btn-warning" href="/newPatient"></span>New Patient</a>

        <!--<a class="btn btn-block btn-warning" ng-href="/patients/{{selectedPatient._id}}"></span>More Info</a>-->

      </div>

</div><!-- end container fluid -->