<div class="belowNav container-fluid">
      <div class="col-sm-2 sidebar">
        <h3>Patients:</h3>

        <table>
          <tr ng-repeat="patient in patient.patients">
            <td>
              <input type="radio" ng-model="$parent.selectedPatient" name="selectedPatient" ng-value="patient" />
              {{patient.patientName}}
            </td>
          </tr>
        </table>

        <a class="btn btn-block btn-warning" href="/newPatient"></i></span>New Patient</a>

      </div>

    <div class="col-sm-10 main">
			<div class="jumbotron">
        <div style="outline: 1px solid orange" ng-click="patient.test()">

          <p> Patient: {{selectedPatient.patientName}} </p>
          <p> Age: {{selectedPatient.patientAge}} </p>
          <p> Street: {{selectedPatient.patientAddress.street}} </p>
          <p> City: {{selectedPatient.patientAddress.city}} </p>
          <p> State: {{selectedPatient.patientAddress.state}} </p>
          <p> Zipcode: {{selectedPatient.patientAddress.zipcode}} </p>


        </div>

        <p> {{patient.value}} </p>

			</div>
	  </div>
</div><!-- end container fluid -->