<div class="belowNav container-fluid">
    <div class="col-sm-12 main">
			<div class="jumbotron">
        <div>
          <!--
          <span id="loginMessage"><i class="fa fa-user-plus"></i></span><h2>You are now logged in.</h2>
          {{ main.user.username }}
          -->
          <h2>Patient:</h2>
          <button ng-click="singlePatient.graph_bar_oneWeek()" class="btn btn-default btn-warning">
          <!-- <span ><i class="fa fa-spinner fa-spin"></i>1 Week</span> --> 
            <span>1 Week</span>
          </button>

          <button ng-click="singlePatient.graph_bar_oneDay()" class="btn btn-default btn-warning">
          <!-- <span ><i class="fa fa-spinner fa-spin"></i>1 Week</span> --> 
            <span>1 Day</span>
          </button>

          <button ng-click="singlePatient.graph_line_oneWeek()" class="btn btn-default btn-success">
          <!-- <span ><i class="fa fa-spinner fa-spin"></i>1 Week</span> --> 
            <span>Line 1 Week</span>
          </button>

          <h2>Graph</h2>
          


        </div>
			</div>

      <div id="chart_div_line_activity">

      </div>

      <div id="chart_div_bar">
            
      </div>

	  </div>
</div><!-- end container fluid -->