<div class="belowNav container-fluid">
    <div class="col-sm-12 spMainContent">
			
        <div>
          <!--
          <span id="loginMessage"><i class="fa fa-user-plus"></i></span><h2>You are now logged in.</h2>
          {{ main.user.username }}
          -->
          <div class="spHeader">
            <h1> {{singlePatient.patient.patientName}}</h1>
            <h1 style="margin-top: -15px; padding-left: 10px;"><small><i class="fa fa-calendar" style="font-size: 20pt; float: left; padding-right: 10px; padding-top: 10px;"></i>Patient since: 02/01/15</small><h1>


          </div>

          <div class="panel panel-default">
            <h3 style="padding-top: 15px; padding-bottom: 15px; width: 800px; margin-left: auto; margin-right: auto;">Quick Stats Quick Stats Quick Stats Quick Stats Quick Stats</h3>
          </div>

          <div class="spHeader">
            <h3>Graphs</h3>
            <span>
              <button ng-click="singlePatient.graph_bar_oneWeek()" class="btn btn-success">
              <!-- <span ><i class="fa fa-spinner fa-spin"></i>1 Week</span> --> 
                <span>1 Week</span>
              </button>

              <button ng-click="singlePatient.graph_bar_oneDay()" class="btn btn-success">
              <!-- <span ><i class="fa fa-spinner fa-spin"></i>1 Week</span> --> 
                <span>1 Day</span>
              </button>
            </span>
         
          </div>

          <div class="panel panel-default graphPanel">
              <div class="col-sm-4 indivGraphPanel panel panel-default">

                <div google-chart chart="chart_barCounts" style="{{chart_barCounts.cssStyle}}" />

              </div>
              
              <!--
              <div class="col-sm-3 panel panel-default">
                <div class="panel-heading">Panel Heading</div>

                <div class="panel-body" google-chart chart="chart" style="{{chart.cssStyle}}" />

              </div>
              
              <div class="col-sm-3 panel panel-default">

                <div google-chart chart="chart" style="{{chart.cssStyle}}" />

              </div>

              <div class="col-sm-3 panel panel-default">

              <div google-chart chart="chart" style="{{chart.cssStyle}}" />

              </div>
              -->
              <!--
              <div id="chart_div_line_activity">

              </div>
              -->
              <div id="chart_div_bar">
                    
              </div>
          </div>

			</div>

      

	  </div>
</div><!-- end container fluid -->