
.login-submit{
	margin-top: 15px;
}

html{
height: 100%;
}

#mainContainer {
	max-width: 100%;
}

body { 
height: 100%;
	padding-top:75px;
	/* background: linear-gradient(180deg,#B2EEFC 0%,#44c7f4 100%); */
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
}

.sidebar {
	background-color: #f5f5f5;
	border-radius: 10px;
}

.navbar-brand{
	margin-right: 100px;
}

#brand-icon{
	margin-right: 10px;
}

#loginMessage{
	float: left;
	margin-right: 15px;
}

.jumbotron{
	/* color: #999; */
	border-radius: 10px;
	background-color: #f5f5f5;

}

.nestedList{
	list-style: none;
}

.tagDisplay{
	font-size: 10px;
}
/*
main{
	max-width: 2000px;
}
*/