html{
	/*height: 100%;*/

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

body { 
	/*height: auto;*/
	/* padding-top:75px; */
	/* background: linear-gradient(180deg,#B2EEFC 0%,#44c7f4 100%); */
	
	background-color: #C1ECFF;
	/* box-shadow: inset 0 0 100px rgba(0,0,0,.2); */

	font-family: 'Open Sans', sans-serif;
}

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#mainContainer {
	position: relative;
	min-height: 100%;
	max-width: 100%;
	width: auto;
	display: inline;
}

#chart_div{

}
.ngview-container{
	display: inline;
} 

.belowNav{
	margin-top: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
	box-shadow: inset 0 0 50px rgba(0,0,0,.2);
}

#loginContainer, #newUserContainer{
	min-height: 100%;
	min-height:100vh;

	display: flex;
	align-items: center;
}

#loginBox, #newUserBox{
	min-width: 75%;
	padding: 25px;
	margin-left: auto;
	margin-right: auto;
}

#navbar-collapse-menu{
	padding-right: 20px;
}
.login-submit{
	margin-top: 15px;
}

.sidebar {
	background-color: #f5f5f5;
	border-radius: 10px;
}

.navbar-brand{
	margin-right: 100px;
}

#brand-icon{
	margin-right: 10px;
}

#loginMessage{
	float: left;
	margin-right: 15px;
}

.jumbotron{
	/* color: #999; */
	border-radius: 10px;
	background-color: #f5f5f5;

}

.nestedList{
	list-style: none;
}

.tagDisplay{
	font-size: 10px;
}

.myjumbo {
  padding: 24px;
}

.borderless td, tr, tbody, table {
     border: none;
}

.borderless{
	margin-bottom: 0px; 
}

.testpanel h3 {
	border-top: none;
	margin: 0px;
}

.testpanel {
	margin-bottom: 0px;
}

.testpanelbody {
	padding-bottom: 0px;
}
.patientRow {
	margin-bottom: 20px;
}

.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.cssSlideUp {
    transition: .5s linear all;
    height: 200px;
    overflow: hidden;
}
.cssSlideUp.ng-hide {
    height:0;
}

.chartIcon {
	margin-bottom: 10px;
}